
@{
    @model BankBranch
    <style>
        h2, h3, h4, h5, h6 {
            color: cornflowerblue;
        }
        h1, a {
            color: black;
        }
    </style>
    <h1>Branch Details</h1>

    <div>
        <h6>Area:</h6>
        <p>@Html.DisplayFor(model => model.LocationName)</p>
        <h6>Branch Manager:</h6>
        <p>@Html.DisplayFor(model => model.BranchManager)</p>
        <h6>Number of Employees:</h6>
        <p>@Html.DisplayFor(model => model.EmployeeCount)</p>
        <h6>Location URL:</h6>
        <a href="@Html.DisplayFor(model => model.LocationURL)">@Html.DisplayFor(model => model.LocationURL)</a>
        <p> <a asp-action="AddEmployee" asp-route-id="@Model.Id" class="btn btn-primary">Add Employee</a></p>
    </div>
    <h3>Employees:</h3>
    @if (Model.Employees != null && Model.Employees.Any())
    {
        <ul>
        @foreach (var employee in Model.Employees)
            {
                <li>@employee.Name - @employee.Position</li>
            }
        </ul>
    }
    else
    {
        <p>No Employees Found</p>
    }
}